<a href="https://colab.research.google.com/github/Madhavi-sai/FML/blob/main/Cross_validation_on_MultivariateLinearRegression_on_startups.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Multivariate Linear Regression**

Importing required modules

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn import linear_model

Loading of data with the help of pandas data frame.

In [6]:
#Load the data
data = pd.read_csv("50_Startups.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [7]:
X = data.select_dtypes(include=np.number)
Y = data['Profit'].values

Out target variable in this model is the column profit, 
and the set of x values are r&d spend, administastion, marketing spend,

In [8]:
print(type(X))
print(type(Y))
print(X.shape, Y.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
(50, 4) (50,)

In [9]:
Y = Y.reshape(-1, 1)

In [11]:
model = linear_model.LinearRegression()

## Model Validation
What is **cross-validation**?  
In cross-validation, we run our modeling process on different subsets of the data to get multiple measures of model quality.

For example, we could begin by dividing the data into 5 pieces, each 20% of the full dataset. In this case, we say that we have broken the data into 5 "folds".

In [17]:
folds = KFold(n_splits = 5, shuffle = True, random_state = 100)
scores = cross_val_score(model, X, Y, scoring='r2', cv=folds)
scores

array([1., 1., 1., 1., 1.])

In [19]:
scores = cross_val_score(model, X, Y, scoring='neg_mean_squared_error', cv=5)
scores

array([-1.01643954e-21, -4.87043945e-22, -2.32934060e-22, -4.23516474e-22,
       -2.73300474e-21])

**Conclusion**  
Using cross-validation yields a much better measure of model quality, with the added benefit of cleaning up our code: note that we no longer need to keep track of separate training and validation sets. So, especially for small datasets, it's a good improvement!