<a href="https://colab.research.google.com/github/Madhavi-sai/FML/blob/main/MultivariateLinearRegression_on_startups.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Multivariate Linear Regression**

Importing required modules

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import linear_model

Loading of data with the help of pandas data frame.

In [34]:
#Load the data
data = pd.read_csv("/content/50_Startups (1).csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [35]:
X = data.select_dtypes(include=np.number)
Y = data['Profit'].values

Out target variable in this model is the column profit, 
and the set of x values are r&d spend, administastion, marketing spend,

In [36]:
print(type(X))
print(type(Y))
print(X.shape, Y.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
(50, 4) (50,)

In [37]:
Y = Y.reshape(-1, 1)

The scikit-learn library has a function train_test_split to break up the data into two pieces. We'll use some of that data as training data to fit the model, and we'll use the other data as validation data to calculate error.

In [38]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.25, random_state=42)

In [39]:
model = linear_model.LinearRegression()

In [40]:
model.fit(x_train,y_train)

LinearRegression()

## **Model Validation**  
we will Measure the performance of our model, so that we can test and compare.
There are many metrics for summarizing model quality, the ones we used are

Mean Absolute Error (also called MAE)  
Mean Squared Error (MSE)  
Root Mean Squared Error(RMSE)  
R2-Score

In [41]:
y_pred1 = model.predict(x_train)
y_pred2 = model.predict(x_test)

The predicted values on the train set are stored in y_pred1 and the corresponding predicted values on test set are stored in y_pred2

## **Performance on trained data**

In [42]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
print("Performance on trained data")
print("MAE=", mean_absolute_error(y_train,y_pred1 ))
print("MSE", mean_squared_error(y_train, y_pred1))
print("RMSE=", np.sqrt(mean_squared_error(y_train, y_pred1)))
print("r2score=", r2_score(y_train, y_pred1))

Performance on trained data
MAE= 1.7108332768485353e-11
MSE 4.993488151887682e-22
RMSE= 2.2346114095939996e-11
r2score= 1.0

## **Performance on test data**

In [43]:
print("Performance on test data")
print("MAE=", mean_absolute_error(y_test,y_pred2 ))
print("MSE", mean_squared_error(y_test, y_pred2))
print("RMSE=", np.sqrt(mean_squared_error(y_test, y_pred2)))
print("r2score=", r2_score(y_test, y_pred2))

Performance on test data
MAE= 1.9029427606325883e-11
MSE 6.108410677314666e-22
RMSE= 2.4715199123848196e-11
r2score= 1.0